@charset "UTF-8";
body {
    background-color: rgba(214, 214, 42, 0.726);
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
section {
    background-color: rgb(78, 168, 78);
    width: 500px;
    height: 300px;
    padding: 15px;
    box-shadow: 5 5 10 black;
    border-color: black;
    text-align: center;
    margin: auto;
    border-radius: 25px;
}
